* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	scroll-behavior: smooth;
	-webkit-box-sizing: border-box;
}
html {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	scroll-behavior: smooth;
	-webkit-box-sizing: border-box;
}
:root {
	--maincolor: #1ca7ec;
}
body {
	font-family: "Poppins", sans-serif;
}
h2 {
	color: dodgerblue;
}
h1,
p {
	color: var(--maincolor);
	margin: 0;
}
h1 {
	font-weight: bold;
	font-size: 25px;
	margin: 0;
}
p {
	line-height: 1.8;
	font-size: 16px;
}
.container {
	padding-left: 18px;
	padding-right: 18px;
	margin-left: auto;
	margin-right: auto;
}
/* start responsive */
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
/* end responsive */
.header {
	padding: 22px;
}
.header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header .logo {
	width: 60px;
}
.header .links {
	position: relative;
}
.header .links:hover .icon span:nth-child(2) {
	width: 100%;
}
.header .links .icon {
	width: 32px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}
.header .links .icon span {
	background-color: dodgerblue;
	margin-bottom: 6px;
	height: 3px;
}
.header .links .icon span:first-child {
	width: 100%;
}
.header .links .icon span:nth-child(2) {
	width: 60%;
	transition: 0.3s ease-in-out;
}
.header .links .icon span:last-child {
	width: 100%;
}
.header .links ul {
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	min-width: 200px;
	display: none;
	background-color: #f6f6f6;
	right: 0;
	top: calc(100% + 15px);
	z-index: 2;
	transition: 1s;
}
.header .links:hover ul {
	display: block;
	transition: 1s;
}
.header .links ul::before {
	content: "";
	border-width: 10px;
	border-style: solid;
	border-color: transparent transparent #f6f6f6 transparent;
	position: absolute;
	top: -20px;
	right: 5px;
}
.header .links ul li a {
	padding: 14px;
	text-decoration: none;
	transition: 0.3s ease-in-out;
	color: #333;
	display: block;
	border-radius: 10px;
	transition: 0.3s;
}
.header .links ul li a:hover {
	padding-left: 25px;
	color: dodgerblue;
}
.landing {
	height: 200px;
	position: relative;
}
.landing .intro {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 320px;
	max-width: 100%;
}
.features {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #f6f6f6;
}
.features .container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 20px;
}
.features .feat {
	padding: 20px;
	text-align: center;
}
i {
	color: var(--maincolor);
}
.features .feat h3 {
	font-weight: 800;
	margin: 30px 0;
}
.features .feat p {
	line-height: 1.6;
	color: #777;
	font-size: 16px;
}
.services {
	padding-top: 60px;
	padding-bottom: 60px;
}
.beautiful-headline {
	color: #ebeced;
	font-size: 60px;
	font-weight: 900;
	letter-spacing: -8px;
	text-align: center;
	margin: 0 0 10px 0;
}
.beautiful-headline + p {
	margin: -45px 0 0;
	text-align: center;
	font-size: 20px;
	color: #797979;
}
.services .container .content {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 30px;
	text-align: center;
	line-height: 1.6;
	margin-top: 100px;
}
.services .image .img {
	width: 300px;
	height: 260px;
	background-color: #f6f6f6;
}
.services .container .content .serv {
	display: flex;
	margin-bottom: 40px;
}
@media (max-width: 767px) {
	.services .container .content .serv {
		flex-direction: column;
		text-align: center;
	}
}
.services .container .content .serv i {
	color: var(--maincolor);
	flex-basis: 70px;
}
.services .container .content .serv .text {
	flex: 1;
}
.services .container .content .serv .text h3 {
	margin: 0 0 20px;
}
.services .container .content .serv .text p {
	color: #444;
	line-height: 1.8;
	font-weight: 400;
}
.services .image {
	text-align: center;
	position: relative;
}
.image::before {
	content: "";
	position: absolute;
	top: -50px;
	background-color: var(--maincolor);
	width: 80px;
	height: calc(100% + 100px);
	right: 10px;
	z-index: -1;
}
@media (max-width: 1199px) {
	.image-column {
		display: none;
	}
}
.portfolio {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #f6f6f6;
}
.portfolio .port-content {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 30px;
	margin-top: 80px;
}
.portfolio .container.beautiful-headline {
	font-weight: 900;
}
.portfolio .container .card {
	background-color: white;
	height: 300px;
	display: flex;
	align-items: flex-end;
	border-radius: 20px;
}
.portfolio .container .card img {
	max-width: 100%;
}
.portfolio .container .card .info {
	padding: 20px;
}
.portfolio .container .card .info h3 {
	margin: 0 0 8px 0;
}
.portfolio .container .card .info p {
	line-height: 1.6;
	color: #777;
	margin-bottom: 0;
}
.about {
	padding-top: 60px;
	padding-bottom: 60px;
}
.about-content {
	margin-top: 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.about .about-content .image {
	position: relative;
	width: 240px;
	height: 375px;
	background-color: #ebeced;
	padding-left: 20px;
}
.about .about-content .image::before {
	content: "";
	content: "";
	position: absolute;
	height: calc(100% + 80px);
	top: -40px;
	left: -20px;
	background-color: var(--maincolor);
	z-index: -1;
}
.about .image::after {
	content: "";
	position: absolute;
	width: 120px;
	height: 300px;
	border-left: 80px solid var(--maincolor);
	border-bottom: 80px solid var(--maincolor);
	z-index: -1;
	top: -40px;
	left: 180px;
}
.about .about-content .text {
	display: flex;
	flex-direction: column;
	flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type {
	line-height: 2;
	margin-bottom: 50px;
	font-weight: bold;
	color: #777;
}
.about .about-content .text hr {
	display: inline-block;
	width: 50%;
	border-top: 6px dotted var(--maincolor);
	border-bottom: transparent;
	border-left: transparent;
	border-right: transparent;
}
.about .about-content .text p:last-of-type {
	line-height: 2;
	margin-top: 50px;
	color: #777;
}
@media (max-width: 991px) {
	.about .container .about-content .text {
		flex-direction: column;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.about .container .about-content {
		flex-direction: column;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.about .about-content .image::before,
	.about .about-content .image::after,
	.about .about-content .image {
		display: none;
	}
}
.contact {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #f6f6f6;
}
.contact .info {
	padding-top: 60px;
	padding-bottom: 60px;
	text-align: center;
}
.contact .info .label {
	font-size: 30px;
	font-weight: 800;
	color: #2c4755;
	letter-spacing: -2px;
	margin-bottom: 15px;
}
.contact .info .link {
	display: block;
	font-size: 30px;
	font-weight: 800;
	color: var(--maincolor);
	text-decoration: none;
}
.contact .info .social {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	font-size: 16px;
}
.contact .info i {
	margin-left: 12px;
	color: var(--maincolor);
}
footer {
	background-color: #333;
	text-align: center;
	padding: 30px;
	color: #ebeced;
}
footer span {
	color: var(--maincolor);
}
@media (max-width: 767px) {
	.contact .info .link,
	.contact .info .label {
		font-size: 20px;
	}
}
